@import '@/style.scss';

.Popup {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 23px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  background-color: var(--bg);
  border-radius: 0 0 10px 10px;

  padding: 15px;

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.Popup button {
  font-family: var(--roboto);
  font-size: 16px;
  color: var(--text);
}

.Backdrop {
  @include backdrop;
}