@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  transition: all ease-out .1s;
}

:root {
  // colors 
  --accent: #F76707;
  --light-theme-border: #E9E9E9;
  --light-theme-text: #2E2E2E;
  --light-theme-heading: black;
  --light-theme-placeholder: #B7B4B4;
  --light-theme-shadow: 0 0 5px 0 rgba(0 0 0 / .1);
  --dark-theme-bg: #323232;
  --dark-theme-heading: white;
  --dark-theme-text: #D8D8D8;
  --dark-theme-placeholder: #9D9D9D;
  --dark-theme-shadow: 0 0 10px 0 rgba(0 0 0 / .25);
  
  // fonts
  --roboto: 'Roboto', sans-serif;
}

:root,
:root[data-theme="light"] {
  --border: var(--light-theme-border);
  --text: var(--light-theme-text);
  --heading: var(--light-theme-heading);
  --placeholder: var(--light-theme-placeholder);
  --bg: white;
  --shadow: var(--light-theme-shadow);

  body {
    background-color: #fafafa;
  }
}

:root[data-theme="dark"] {
  --border: var(--dark-theme-bg);
  --text: var(--dark-theme-text);
  --heading: var(--dark-theme-heading);
  --placeholder: var(--dark-theme-placeholder);
  --bg: var(--dark-theme-bg);
  --shadow: var(--dark-theme-shadow);

  body {
    background-color: #434343;
  }
}

@mixin flex($jc: flex-start, $ai: center, $direction: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $direction;
}

@mixin container {
  max-width: 1200px;
  width: calc(100% - 30px);
  margin: 0 auto;
}

@mixin modal {
  position: fixed;
  z-index: 2;
  top: 10px;
  left: 10px;
  width: 80vw;
  height: 80vh;
  background-color: var(--bg);
  border: 1px solid red;
}

@mixin backdrop($blur: false) {
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;

  @if $blur {
    background-color: rgba(0 0 0 / .5);
  }
}

$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $xl) {
    @content;
  }
}

button {
  padding: 0;
  background: transparent;
  border: none;
  @include flex(center, center);
  cursor: pointer;
}
